<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>hotel-app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hotel.servelet.LoginServelet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.hotel.servelet.LogoutServelet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Order</servlet-name>
    <servlet-class>com.hotel.servelet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckerHistoryServelet</servlet-name>
    <servlet-class>com.hotel.servelet.CheckerHistoryServelet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.hotel.servelet.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewRequestOrderServlet</servlet-name>
    <servlet-class>com.hotel.servelet.ViewRequestOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestListServlet</servlet-name>
    <servlet-class>com.hotel.servelet.RequestListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewAdminHistoryServlet</servlet-name>
    <servlet-class>com.hotel.servelet.ViewAdminHistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminHistoryServelet</servlet-name>
    <servlet-class>com.hotel.servelet.AdminHistoryServelet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddListServlet</servlet-name>
    <servlet-class>com.hotel.servelet.AdminAddListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFaultServlet</servlet-name>
    <servlet-class>com.hotel.servelet.AddFaultServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminFaultServlet</servlet-name>
    <servlet-class>com.hotel.servelet.AdminFaultServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckerFaultHistoryServlet</servlet-name>
    <servlet-class>com.hotel.servelet.CheckerFaultHistoryServlet</servlet-class>
  </servlet>

  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.ArrayIndexOutOfBoundsException</exception-type>
    <location>/error.jsp</location>
  </error-page>
</web-app>