/* Welcome to TimtoFix. Design & Frontend Develop By Heshan Pramith
*/
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* line 5, C:/Users/Heshan/Downloads/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, C:/Users/Heshan/Downloads/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, C:/Users/Heshan/Downloads/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, C:/Users/Heshan/Downloads/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, C:/Users/Heshan/Downloads/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, C:/Users/Heshan/Downloads/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, C:/Users/Heshan/Downloads/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, C:/Users/Heshan/Downloads/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, C:/Users/Heshan/Downloads/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* line 9, ../sass/screen.scss */
body { margin: 0; padding: 0; font-family: 'Roboto', sans-serif; background: #EEE; top: 0 !important; transition: all 0.5s ease; }

/* line 18, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6, p, span, label, form, div { font-family: 'Roboto', sans-serif; }

/* line 22, ../sass/screen.scss */
button { border: solid 1px #C78514 !important; margin-top: -2px !important; }

/* line 27, ../sass/screen.scss */
button:focus { outline: none !important; box-shadow: none !important; border: solid 1px #C78514 !important; }

/* line 33, ../sass/screen.scss */
input { border: solid 1px #c5c5c5 !important; }

/* line 37, ../sass/screen.scss */
input:focus { outline: none !important; box-shadow: none !important; border: solid 1px #c5c5c5 !important; }

/* line 43, ../sass/screen.scss */
.h-full { height: 100vh; position: relative; }

/* line 48, ../sass/screen.scss */
.form-label { font-size: 12px; font-weight: 500; font-family: 'Roboto', sans-serif; color: #4c4c4c; }

/* line 55, ../sass/screen.scss */
.invalid-feedback { font-size: .675em; }

/* line 59, ../sass/screen.scss */
.input-group-append { cursor: pointer; }

/* line 63, ../sass/screen.scss */
i { color: #5d4c72; }

/* line 67, ../sass/screen.scss */
.p-l-0 { padding-left: 0 !important; }

/* line 72, ../sass/screen.scss */
a:focus { box-shadow: none; outline: none; }

/* line 79, ../sass/screen.scss */
table .input-group { margin-bottom: 0 !important; }

/* line 84, ../sass/screen.scss */
#login { background: url(../images/appbg.jpg) center center no-repeat; background-size: cover; }
/* line 88, ../sass/screen.scss */
#login .login-wrapper { float: left; width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 5px; background: #FFF; padding: 15px 20px 30px 20px; text-align: center; box-shadow: 0 0 20px -3px #000; max-width: 330px; overflow-x: hidden; }
/* line 103, ../sass/screen.scss */
#login .login-wrapper form { float: left; width: 100%; position: relative; }
/* line 109, ../sass/screen.scss */
#login .login-wrapper img { max-height: 60px; }
/* line 113, ../sass/screen.scss */
#login .login-wrapper h1 { float: left; width: 100%; position: relative; font-weight: 500; font-size: 18px; font-family: 'Roboto', sans-serif; padding: 30px 0 50px 0; }
/* line 123, ../sass/screen.scss */
#login .login-wrapper input { border-radius: 0 0.25rem 0.25rem 0 !important; border-left: none !important; }
/* line 128, ../sass/screen.scss */
#login .login-wrapper .btn { width: 100%; font-size: 14px; font-weight: 500 !important; padding: 8px; background: #D41701; border: solid 1px #D41701 !important; border-radius: 5px !important; }
/* line 138, ../sass/screen.scss */
#login .login-wrapper label { text-align: left !important; float: left; width: 100%; }
/* line 144, ../sass/screen.scss */
#login .login-wrapper .signbutton { border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important; }
/* line 148, ../sass/screen.scss */
#login .login-wrapper .logo { background: url(../images/mobile-bg.png) center top no-repeat #FFF; background-size: 100%; height: 130px; margin: -15px 0 0 -20px; width: calc(100% + 40px); padding: 10px 0 0 0; }

/* line 159, ../sass/screen.scss */
.inner { padding-top: 110px; }

/* line 164, ../sass/screen.scss */
header { position: fixed; top: 0; left: 0; width: 100%; height: 60px; background: #680d02; background: linear-gradient(90deg, #911405 0%, #680d02 100%); z-index: 1000; }
/* line 174, ../sass/screen.scss */
header .logo { height: 50px; width: auto; background: #FFFFFF; text-align: center; border-radius: 5px; margin: 5px 0; float: none; padding: 0 15px; display: inline-block; }
/* line 185, ../sass/screen.scss */
header .logo img { max-height: 41px; position: relative; top: 4px; }
/* line 192, ../sass/screen.scss */
header h1 { float: left; width: 100%; color: #FFFFFF; font-size: 18px; font-weight: 400; margin: 11px 0 7px 0; }
/* line 200, ../sass/screen.scss */
header h1 .fl { color: #FFFFFF !important; }
/* line 205, ../sass/screen.scss */
header p { float: left; width: 100%; font-size: 11px; color: #FFFFFF; }
/* line 212, ../sass/screen.scss */
header .logout { float: right; color: #FFFFFF; font-size: 20px; padding: 20px; position: relative; }
/* line 219, ../sass/screen.scss */
header .logout i { color: #FFF; }

/* line 225, ../sass/screen.scss */
.date { display: none; }

/* line 229, ../sass/screen.scss */
input { border-radius: 0.25rem !important; }

/* line 233, ../sass/screen.scss */
.form-label { font-size: 12px; font-weight: 600; margin: 0 0 5px 0; }

/* line 239, ../sass/screen.scss */
.input-group { margin-bottom: 10px; }

/* line 243, ../sass/screen.scss */
.form-control { border: solid 1px #c5c5c5 !important; font-size: 12px !important; }
/* line 247, ../sass/screen.scss */
.form-control:focus { box-shadow: none !important; border-color: #5d4c72; }

/* line 253, ../sass/screen.scss */
*, button { touch-action: manipulation; }

/* line 257, ../sass/screen.scss */
.counter { border-radius: 0 !important; }

/* line 263, ../sass/screen.scss */
.dashboard .subt { float: left; width: 100%; position: relative; font-size: 16px; font-weight: 500; margin: 0; padding: 15px 0 10px 0; }
/* line 275, ../sass/screen.scss */
.dashboard ul li { text-align: center; }
/* line 278, ../sass/screen.scss */
.dashboard ul li a { color: #FFFFFF; text-decoration: none; border-radius: 5px; padding: 30px 0; float: left; width: 100%; margin-bottom: 15px; }
/* line 287, ../sass/screen.scss */
.dashboard ul li a i { margin-bottom: 15px; font-size: 30px; color: #FFF; }
/* line 294, ../sass/screen.scss */
.dashboard ul li span { float: left; width: 100%; text-align: center; font-size: 16px; font-weight: 400; }
/* line 302, ../sass/screen.scss */
.dashboard ul li .liner1 { background: linear-gradient(to left, #1c510d, #246a1f, #288432, #299f47, #23bb5e); }
/* line 305, ../sass/screen.scss */
.dashboard ul li .liner1:hover { background: linear-gradient(to right, #1c510d, #246a1f, #288432, #299f47, #23bb5e); }
/* line 310, ../sass/screen.scss */
.dashboard ul li .liner2 { background: linear-gradient(to left, #154366, #0f4f82, #155b9e, #2866ba, #4370d6); }
/* line 313, ../sass/screen.scss */
.dashboard ul li .liner2:hover { background: linear-gradient(to right, #154366, #0f4f82, #155b9e, #2866ba, #4370d6); }
/* line 318, ../sass/screen.scss */
.dashboard ul li .liner3 { background: linear-gradient(to left, #661515, #832222, #a2302f, #c23e3d, #e34c4c); }
/* line 321, ../sass/screen.scss */
.dashboard ul li .liner3:hover { background: linear-gradient(to right, #661515, #832222, #a2302f, #c23e3d, #e34c4c); }
/* line 326, ../sass/screen.scss */
.dashboard ul li .liner4 { background: linear-gradient(to left, #664d15, #80671b, #9a8322, #b1a12a, #c7c133); }
/* line 329, ../sass/screen.scss */
.dashboard ul li .liner4:hover { background: linear-gradient(to right, #664d15, #80671b, #9a8322, #b1a12a, #c7c133); }
/* line 334, ../sass/screen.scss */
.dashboard ul li .liner5 { background-image: linear-gradient(to left, #051937, #1b2b59, #393d7d, #5c4ea0, #845ec2); }
/* line 337, ../sass/screen.scss */
.dashboard ul li .liner5:hover { background-image: linear-gradient(to right, #051937, #1b2b59, #393d7d, #5c4ea0, #845ec2); }
/* line 342, ../sass/screen.scss */
.dashboard ul li .liner6 { background-image: linear-gradient(to left, #201230, #2e2040, #3d2e50, #4d3d61, #5d4c72); }
/* line 345, ../sass/screen.scss */
.dashboard ul li .liner6:hover { background-image: linear-gradient(to right, #201230, #2e2040, #3d2e50, #4d3d61, #5d4c72); }
/* line 350, ../sass/screen.scss */
.dashboard ul li .liner7 { background-image: linear-gradient(to left top, #051937, #4a315b, #8f4871, #d06876, #ff9671); }
/* line 353, ../sass/screen.scss */
.dashboard ul li .liner7:hover { background-image: linear-gradient(to right top, #051937, #4a315b, #8f4871, #d06876, #ff9671); }

/* line 361, ../sass/screen.scss */
.offcanvas { width: 300px !important; background: url(../images/sizer.png) top center repeat #FFFFFF; background-size: 150px; border: none !important; }
/* line 367, ../sass/screen.scss */
.offcanvas .offcanvas-header { padding: 3px 0 !important; background: #FFFFFF; }
/* line 372, ../sass/screen.scss */
.offcanvas .close { border: none !important; float: right; margin: 17px 0 0 0; color: red !important; background: none !important; }
/* line 379, ../sass/screen.scss */
.offcanvas .close i { color: red !important; font-size: 31px; }
/* line 385, ../sass/screen.scss */
.offcanvas .offcanvas-body { padding: 0 !important; }
/* line 389, ../sass/screen.scss */
.offcanvas h4 { float: left; width: 100%; position: relative; margin: 0; padding: 10px; font-size: 12px; font-weight: 400; background-image: linear-gradient(to right, #000000, #181818, #292929, #3b3b3b, #4e4e4e); color: #FFFFFF; }
/* line 401, ../sass/screen.scss */
.offcanvas ul { float: left; width: 100%; position: relative; margin: 0 0 15px 0; padding: 0; text-align: left; }
/* line 409, ../sass/screen.scss */
.offcanvas ul li { float: left; width: 100%; position: relative; text-align: left; }
/* line 415, ../sass/screen.scss */
.offcanvas ul li a { float: left; width: 100%; position: relative; font-size: 12px; font-weight: 400; color: #333333; text-align: left; margin: 0; padding: 10px; transition: all 0.5s ease; border-radius: 0; text-decoration: none; }
/* line 429, ../sass/screen.scss */
.offcanvas ul li a:hover { background: #911405; color: #FFFFFF; transition: all 0.2s ease; }

/* line 439, ../sass/screen.scss */
.main-title { float: left; width: calc(100% + 24px); position: fixed; font-size: 16px; font-weight: 500; margin: -10px 0 15px -12px; background: #ffffff; color: #000; padding: 10px; text-align: center; top: 70px; left: 0; z-index: 100; }
/* line 454, ../sass/screen.scss */
.main-title .back { float: left; width: auto; text-decoration: none; color: #000000; position: absolute; left: 0; top: 0; padding: 10px 15px; }
/* line 464, ../sass/screen.scss */
.main-title .back i { color: #000000; }

/* line 470, ../sass/screen.scss */
.input-group-text { background: #343434 !important; border: solid 1px #343434 !important; }
/* line 474, ../sass/screen.scss */
.input-group-text i { color: #FFFFFF; }

/* line 481, ../sass/screen.scss */
.action button { background: #50386a !important; border: solid 1px #50386a !important; color: #FFFFFF; }
/* line 486, ../sass/screen.scss */
.action button i { color: #FFFFFF; }
/* line 491, ../sass/screen.scss */
.action .addn { background: url(../images/add.png) center center green no-repeat !important; background-size: 14px !important; border-color: green !important; width: 30px; border-radius: 0 5px 5px 0 !important; color: #FFFFFF !important; }
/* line 500, ../sass/screen.scss */
.action .rem { background: url(../images/minus.png) center center red no-repeat !important; background-size: 14px !important; border-color: red !important; width: 30px; border-radius: 5px 0 0 5px !important; color: #FFFFFF !important; }

/* line 510, ../sass/screen.scss */
.add { float: left; width: 100%; border: solid 1px #1bb74b !important; background: #1bb74b !important; color: #FFFFFF !important; font-weight: 500; }
/* line 518, ../sass/screen.scss */
.add i { color: #FFFFFF; margin-right: 5px; }

/* line 524, ../sass/screen.scss */
.rst { float: left; width: 100%; border: solid 1px red !important; background: red !important; color: #FFFFFF !important; font-weight: 500; }
/* line 532, ../sass/screen.scss */
.rst i { color: #FFFFFF; margin-right: 5px; }

/* line 538, ../sass/screen.scss */
.editinn { float: right; width: auto; border: solid 1px #d39815 !important; background: #d39815 !important; color: #FFFFFF !important; font-weight: 500; font-size: 12px; margin-bottom: 15px; }
/* line 548, ../sass/screen.scss */
.editinn.hide { display: none; }
/* line 552, ../sass/screen.scss */
.editinn:focus { border: solid 1px #d39815 !important; background: #d39815 !important; }
/* line 557, ../sass/screen.scss */
.editinn i { color: #FFFFFF !important; margin-right: 5px; }

/* line 563, ../sass/screen.scss */
.saveinn { float: right; width: auto; border: solid 1px #1bb74b !important; background: #1bb74b !important; color: #FFFFFF !important; font-weight: 500; font-size: 12px; margin: 0 0 15px 15px !important; }
/* line 573, ../sass/screen.scss */
.saveinn.hide { display: none; }
/* line 577, ../sass/screen.scss */
.saveinn:focus { border: solid 1px #1bb74b !important; background: #1bb74b !important; }
/* line 582, ../sass/screen.scss */
.saveinn i { color: #FFFFFF !important; margin-right: 5px; }

/* line 588, ../sass/screen.scss */
.update { margin-bottom: 15px; padding-top: 8px !important; padding-bottom: 8px !important; }

/* line 594, ../sass/screen.scss */
.looper { float: left; width: 100%; position: relative; margin: 15px 0 0 0; border-radius: 5px; }
/* line 603, ../sass/screen.scss */
.looper .floor i { color: #333333; }
/* line 607, ../sass/screen.scss */
.looper .floor span { margin: 0 0 0 10px; font-weight: 500; }

/* line 614, ../sass/screen.scss */
#itemlist { margin-bottom: 15px; }
/* line 617, ../sass/screen.scss */
#itemlist .accordion-item { border-bottom: solid 1px #e7e7e7; float: left; width: 100%; margin: 0 0 2px 0; }
/* line 624, ../sass/screen.scss */
#itemlist .accordion-button { padding: 5px 10px !important; border: none !important; font-size: 14px; }
/* line 629, ../sass/screen.scss */
#itemlist .accordion-button:after { color: #FFFFFF; background: url(../images/plus.png) left center no-repeat !important; background-size: 13px !important; }
/* line 636, ../sass/screen.scss */
#itemlist .accordion-button:not(.collapsed) { color: #ffffff; background-color: #176aab; border: none !important; box-shadow: none !important; }
/* line 642, ../sass/screen.scss */
#itemlist .accordion-button:not(.collapsed):after { color: #FFFFFF; background: url(../images/minus.png) left center no-repeat !important; background-size: 13px !important; left: -7px; position: relative; }
/* line 650, ../sass/screen.scss */
#itemlist .accordion-button:not(.collapsed) i { color: #FFFFFF; }
/* line 657, ../sass/screen.scss */
#itemlist .input-group input { border-radius: 0 !important; }
/* line 661, ../sass/screen.scss */
#itemlist .input-group button { background: #FFFFFF !important; border: solid 1px #c5c5c5 !important; }
/* line 666, ../sass/screen.scss */
#itemlist .input-group .addn { background: url(../images/add.png) center center green no-repeat !important; background-size: 14px !important; border-color: green !important; color: #FFFFFF !important; width: 30px; border-radius: 0 5px 5px 0 !important; text-align: center; }
/* line 675, ../sass/screen.scss */
#itemlist .input-group .addn i { color: #FFFFFF !important; }
/* line 680, ../sass/screen.scss */
#itemlist .input-group .rem { background: url(../images/minus.png) center center red no-repeat !important; background-size: 14px !important; border-color: red !important; color: #FFFFFF !important; width: 30px; border-radius: 5px 0 0 5px !important; text-align: center; }
/* line 689, ../sass/screen.scss */
#itemlist .input-group .rem i { color: #FFFFFF !important; }

/* line 696, ../sass/screen.scss */
.quantity-field { border-radius: 0 !important; font-weight: 500 !important; }

/* line 701, ../sass/screen.scss */
.final { float: left; width: 100%; position: relative; padding: 10px; background: #FFFFFF; border: dashed 2px #132a54; border-radius: 5px; margin: 0 0 15px 0; }
/* line 711, ../sass/screen.scss */
.final h6 { float: left; width: calc(100% + 24px); font-size: 14px; font-weight: 500; margin: -12px 0 8px -12px; background: #132a54; color: #FFF; padding: 10px; border-radius: 5px 5px 0 0; }
/* line 723, ../sass/screen.scss */
.final label { color: #000000 !important; }
/* line 727, ../sass/screen.scss */
.final input { margin-bottom: 10px; background: #FFFFFF !important; font-weight: 500; }
/* line 733, ../sass/screen.scss */
.final table { font-size: 12px; }
/* line 736, ../sass/screen.scss */
.final table th { font-size: 12px; font-weight: 500; background: #3a427a !important; color: #FFFFFF !important; }
/* line 743, ../sass/screen.scss */
.final table td { font-weight: 500; }

/* line 749, ../sass/screen.scss */
.skiptranslate { display: none; }

/* line 754, ../sass/screen.scss */
.home-lang { position: relative; float: left; width: 100%; text-align: center; margin: 10px 0 0 0; }
/* line 761, ../sass/screen.scss */
.home-lang img { height: 29px; margin: 0 10px; }

/* line 767, ../sass/screen.scss */
.home-lang-inner { position: absolute; float: left; width: auto; text-align: center; margin: 0; top: 62px; right: 0; }
/* line 776, ../sass/screen.scss */
.home-lang-inner img { height: 29px; margin: 0 10px 0 0; }

/* line 782, ../sass/screen.scss */
#signbutton { border-radius: 5px !important; }

/* line 786, ../sass/screen.scss */
.descrip { height: 200px; margin: 0 0 15px 0; }

/* line 791, ../sass/screen.scss */
.addrep { margin-top: 15px; }

/* line 799, ../sass/screen.scss */
.fault table th { font-size: 12px; font-weight: 500; background: #3a427a !important; color: #FFFFFF !important; }
/* line 806, ../sass/screen.scss */
.fault table td { font-weight: 500; font-size: 12px; }
/* line 810, ../sass/screen.scss */
.fault table td button { float: right; border: none !important; background: none; }
/* line 815, ../sass/screen.scss */
.fault table td button i { color: red !important; }
/* line 822, ../sass/screen.scss */
.fault table td button:disabled i, .fault table td button[disabled] i { color: #333333 !important; opacity: 0.5; }

/* line 831, ../sass/screen.scss */
.file-upload { background: #effff6; width: 100%; margin: 0 auto; height: 200px; border: dashed 2px #18b318; border-radius: 5px; }
/* line 839, ../sass/screen.scss */
.file-upload .file-upload-content { display: none; text-align: center; height: 200px; }
/* line 845, ../sass/screen.scss */
.file-upload .file-upload-input { position: absolute; margin: 0; padding: 0; width: 100%; height: 200px; outline: none; opacity: 0; cursor: pointer; }
/* line 856, ../sass/screen.scss */
.file-upload .image-upload-wrap { float: left; width: 100%; position: relative; }
/* line 862, ../sass/screen.scss */
.file-upload .image-title-wrap { padding: 81px 0; color: #222; }
/* line 867, ../sass/screen.scss */
.file-upload .drag-text { text-align: center; height: 200px; float: left; width: 100%; }
/* line 874, ../sass/screen.scss */
.file-upload .drag-text h3 { text-transform: uppercase; color: #29af65 !important; height: 200px; vertical-align: middle; float: left; width: 100%; font-size: 12px; font-weight: 500; line-height: 190px; }
/* line 886, ../sass/screen.scss */
.file-upload .file-upload-image { max-height: 200px; max-width: 100%; margin: auto; padding: 8px 10px; }
/* line 893, ../sass/screen.scss */
.file-upload .remove-image { width: auto; margin: 0; color: #fff; background: #cd4535; padding: 10px; border-radius: 4px; transition: all .2s ease; outline: none; font-weight: 500; font-size: 12px; }

/* line 907, ../sass/screen.scss */
.badge { margin-left: 0 !important; }

/* line 911, ../sass/screen.scss */
table { font-size: 12px; }
/* line 914, ../sass/screen.scss */
table th { font-size: 12px; font-weight: 500; background: #3a427a !important; color: #FFFFFF !important; }
/* line 921, ../sass/screen.scss */
table td { color: #6c757d !important; }
/* line 924, ../sass/screen.scss */
table td:first-child { font-weight: 500; }

/* line 932, ../sass/screen.scss */
.modal-header .btn-close { border: none !important; color: red !important; }

/* line 938, ../sass/screen.scss */
.modal-body { text-align: center; }
/* line 941, ../sass/screen.scss */
.modal-body .modal-body img { display: inline-block; }

/* line 946, ../sass/screen.scss */
.admin-fault { table-layout: fixed; }
/* line 949, ../sass/screen.scss */
.admin-fault td { line-height: 14px; }
/* line 952, ../sass/screen.scss */
.admin-fault td:first-child { font-weight: 500; }
/* line 956, ../sass/screen.scss */
.admin-fault td button { font-size: 11px !important; text-transform: uppercase; line-height: 13px; border: none !important; margin-left: 10px; margin-top: 3px; margin-bottom: 3px; font-weight: 600; min-width: 110px; float: left; }
/* line 969, ../sass/screen.scss */
.admin-fault td .dropdown-menu { border: none; padding: 2px 5px; box-shadow: 0px 3px 5px -1px #333; }
/* line 976, ../sass/screen.scss */
.admin-fault td .dropdown-menu li:first-child { border-radius: 5px 5px 0 0 !important; }
/* line 979, ../sass/screen.scss */
.admin-fault td .dropdown-menu li:first-child a { border-radius: 5px 5px 0 0 !important; }
/* line 984, ../sass/screen.scss */
.admin-fault td .dropdown-menu li:last-child { border-radius: 0 0 5px 5px !important; }
/* line 987, ../sass/screen.scss */
.admin-fault td .dropdown-menu li:last-child a { border-radius: 0 0 5px 5px !important; }
/* line 992, ../sass/screen.scss */
.admin-fault td .dropdown-menu li a { color: #FFFFFF; font-size: 12px !important; font-weight: 600; padding: 8px; text-align: center; margin: 2px 0; }

/* line 1005, ../sass/screen.scss */
.progress { height: 25px; }
/* line 1008, ../sass/screen.scss */
.progress .progress-bar { padding-left: 10px; padding-right: 10px; }

/* line 1018, ../sass/screen.scss */
.adduser .input-group input { border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important; }
/* line 1024, ../sass/screen.scss */
.adduser .adduser-wrp { float: left; width: 100%; background: #FFFFFF; border-radius: 5px; padding: 15px; }
/* line 1031, ../sass/screen.scss */
.adduser .adduser-wrp table { table-layout: fixed; }
/* line 1034, ../sass/screen.scss */
.adduser .adduser-wrp table th { width: 200px !important; }
/* line 1037, ../sass/screen.scss */
.adduser .adduser-wrp table th:last-child { position: sticky; right: 0; width: 130px !important; }
/* line 1046, ../sass/screen.scss */
.adduser .adduser-wrp table td:last-child { position: sticky; right: 0; -moz-box-shadow: inset 29px 18px 10px -33px #222; -webkit-box-shadow: inset 29px 18px 10px -33px #222; box-shadow: inset 29px 18px 10px -33px #222; }
/* line 1057, ../sass/screen.scss */
.adduser .adduser-wrp table tr td:last-child { background: #F2F2F2 !important; }
/* line 1064, ../sass/screen.scss */
.adduser .adduser-wrp table tr:nth-child(2n) td:last-child { background: #FFFFFF !important; }
/* line 1070, ../sass/screen.scss */
.adduser .adduser-wrp button { background: none; border: none !important; float: right; }
/* line 1075, ../sass/screen.scss */
.adduser .adduser-wrp button i { font-size: 14px; }
/* line 1080, ../sass/screen.scss */
.adduser .adduser-wrp button.edt i { color: #3761a1; }
/* line 1086, ../sass/screen.scss */
.adduser .adduser-wrp button.del i { color: red; }
/* line 1092, ../sass/screen.scss */
.adduser .adduser-wrp button.sve i { color: #2cb52c; }
/* line 1098, ../sass/screen.scss */
.adduser .adduser-wrp .spinner-grow { float: right; margin-right: 5px; }

/* line 1105, ../sass/screen.scss */
.err-msg { float: left; width: 100%; position: relative; font-size: 12px; text-align: center; color: red; font-weight: 500; }

/* line 1115, ../sass/screen.scss */
.forgotup { float: right; width: auto; border: none !important; background: none; padding: 0; font-size: 12px; color: #3b7aaf; font-weight: 500; margin: 10px 0 5px 0 !important; }
/* line 1126, ../sass/screen.scss */
.forgotup:focus { border: none !important; }

/* line 1131, ../sass/screen.scss */
.er-wrp { float: left; width: 100%; padding: 10px; background: #FFFFFF; border: dashed 1px red; border-radius: 5px; margin: 14px 0 10px 0; }
/* line 1140, ../sass/screen.scss */
.er-wrp.warning { background: #f9ecec; box-shadow: 0px 0px 6px -1px red; -webkit-animation: warn 2s infinite; -moz-animation: warn 2s infinite; -o-animation: warn 2s infinite; animation: warn 2s infinite; }

/* Blue Shadow */
@-moz-keyframes warn { 0%, 100% { box-shadow: 1px 0px 19px 4px rgba(255, 0, 0, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); }
  50% { box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); } }
@-webkit-keyframes warn { 0%, 100% { box-shadow: 1px 0px 19px 4px rgba(255, 0, 0, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); }
  50% { box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); } }
@-o-keyframes warn { 0%, 100% { box-shadow: 1px 0px 19px 4px rgba(255, 0, 0, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); }
  50% { box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); } }
@keyframes warn { 0%, 100% { box-shadow: 1px 0px 19px 4px rgba(255, 0, 0, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); }
  50% { box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); } }
/* line 1191, ../sass/screen.scss */
.alert { padding: 15px !important; font-size: 12px; }
/* line 1195, ../sass/screen.scss */
.alert strong { font-weight: 500; }
/* line 1199, ../sass/screen.scss */
.alert button { border: none !important; padding: 15px !important; }

/* line 1205, ../sass/screen.scss */
.p-0 { padding: 0 !important; }

/* line 1209, ../sass/screen.scss */
footer { position: fixed; bottom: 0; left: 0; width: 100%; text-align: center; font-size: 12px; padding: 10px 0; background: none; color: #FFFFFF; z-index: 20; }

/* line 1222, ../sass/screen.scss */
.wave1, .wave2 { height: 46px; position: absolute; width: 100%; z-index: 12; left: 0; bottom: 0px; }

/* line 1231, ../sass/screen.scss */
.wave1 { -webkit-animation: wave-animation1 8.7s infinite linear; /* Safari 4+ */ -moz-animation: wave-animation1 8.7s infinite linear; /* Fx 5+ */ -o-animation: wave-animation1 8.7s infinite linear; /* Opera 12+ */ animation: wave-animation1 8.7s infinite linear; /* IE 10+ */ }

/* line 1242, ../sass/screen.scss */
.wave2 { -webkit-animation: wave-animation1 6.3s infinite linear; /* Safari 4+ */ -moz-animation: wave-animation1 6.3s infinite linear; /* Fx 5+ */ -o-animation: wave-animation1 6.3s infinite linear; /* Opera 12+ */ animation: wave-animation1 6.3s infinite linear; /* IE 10+ */ }

@-webkit-keyframes wave-animation1 { 0% { background-position: 0 0; }
  100% { background-position: 1601px 0; } }
@-moz-keyframes wave-animation1 { 0% { background-position: 0 0; }
  100% { background-position: 1601px 0; } }
@-o-keyframes wave-animation1 { 0% { background-position: 0 0; }
  100% { background-position: 1601px 0; } }
@keyframes wave-animation1 { 0% { background-position: 0 0; }
  100% { background-position: 1601px 0; } }
/* line 1289, ../sass/screen.scss */
.wave1 { background: url("http://www.templates-preview.com/bootstrap-templates/300111854/images/wave1.png") left bottom repeat-x; }

/* line 1293, ../sass/screen.scss */
.wave2 { background: url("../images/wave2.png") 0 0 repeat-x; }

@media (max-width: 767px) { /* line 1299, ../sass/screen.scss */
  #login { background: none; }
  /* line 1304, ../sass/screen.scss */
  #login .login-wrapper { max-width: 100%; box-shadow: none; top: 0 !important; max-width: 100%; box-shadow: none; top: -5px !important; position: relative !important; transform: unset; left: 0; }
  /* line 1315, ../sass/screen.scss */
  #login .login-wrapper h1 { float: left; width: 100%; position: relative; font-weight: 500; font-size: 22px; font-family: 'Roboto', sans-serif; padding: 20px 0 30px 0; color: #D41701; }
  /* line 1326, ../sass/screen.scss */
  #login .login-wrapper label { color: #FFF !important; font-weight: 400; display: none; }
  /* line 1332, ../sass/screen.scss */
  #login .login-wrapper .logo { padding-top: 20px; height: 150px; }
  /* line 1339, ../sass/screen.scss */
  header { height: auto; background: #680d02; background: linear-gradient(90deg, #bd1c09 0%, #781105 100%); }
  /* line 1344, ../sass/screen.scss */
  header .logout { float: right; color: #FFFFFF; font-size: 20px; padding: 20px 0 10px 0; position: relative; }
  /* line 1353, ../sass/screen.scss */
  .date { display: inline-block; color: #5d4c72; }
  /* line 1358, ../sass/screen.scss */
  .forgotup { color: #444444; }
  /* line 1370, ../sass/screen.scss */
  .adduser .adduser-wrp table th:first-child { width: 80px !important; }
  /* line 1374, ../sass/screen.scss */
  .adduser .adduser-wrp table th:nth-child(2) { width: 120px !important; }
  /* line 1378, ../sass/screen.scss */
  .adduser .adduser-wrp table th:last-child { width: 95px !important; }
  /* line 1387, ../sass/screen.scss */
  .adduser .adduser-wrp table td:last-child button { padding: 0 !important; margin: 0 0 0 10px !important; }
  /* line 1391, ../sass/screen.scss */
  .adduser .adduser-wrp table td:last-child button i { font-size: 16px; } }
