/* Welcome to TimtoFix.
 * Design & Frontend Develop By Heshan Pramith
*/

@import "compass/reset";
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #EEE;
  top: 0 !important;
  transition: all 0.5s ease;
}

h1, h2, h3, h4, h5, h6, p, span, label, form, div {
  font-family: 'Roboto', sans-serif;
}

button {
  border: solid 1px #C78514 !important;
  margin-top: -2px !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: solid 1px #C78514 !important;
}

input {
  border: solid 1px #c5c5c5 !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: solid 1px #c5c5c5 !important;
}

.h-full {
  height: 100vh;
  position: relative;
}

.form-label {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #4c4c4c;
}

.invalid-feedback {
  font-size: .675em;
}

.input-group-append {
  cursor: pointer;
}

i {
  color: #5d4c72;
}

.p-l-0 {
  padding-left: 0 !important;
}

a {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

table {
  .input-group {
    margin-bottom: 0 !important;
  }
}

#login {
  background: url(../images/appbg.jpg) center center no-repeat;
  background-size: cover;

  .login-wrapper {
    float: left;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    border-radius: 5px;
    background: #FFF;
    padding: 15px 20px 30px 20px;
    text-align: center;
    box-shadow: 0 0 20px -3px #000;
    max-width: 330px;
    overflow-x: hidden;

    form {
      float: left;
      width: 100%;
      position: relative;
    }

    img {
      max-height: 60px;
    }

    h1 {
      float: left;
      width: 100%;
      position: relative;
      font-weight: 500;
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      padding: 30px 0 50px 0;
    }

    input {
      border-radius: 0 0.25rem 0.25rem 0 !important;
      border-left: none !important;
    }

    .btn {
      width: 100%;
      font-size: 16px;
      font-weight: 500 !important;
      padding: 12px 8px;
      background: #D41701;
      border: solid 1px #D41701 !important;
      border-radius: 5px !important;
      text-transform: uppercase;
    }

    label {
      text-align: left !important;
      float: left;
      width: 100%;
    }

    .signbutton {
      border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
    }

    .logo {
      background: url(../images/mobile-bg.png) center top no-repeat #FFF;
      background-size: 100%;
      height: 130px;
      margin: -18px 0 0 -20px;
      width: calc(100% + 40px);
      padding: 10px 0 0 0;
    }
  }
}

.inner {
  padding-top: 110px;
  // height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #680d02;
  background: linear-gradient(90deg, #911405 0%, #680d02 100%);
  z-index: 1000;

  .logo {
    height: 50px;
    width: auto;
    background: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;
    float: none;
    padding: 0 15px;
    display: inline-block;

    img {
      max-height: 41px;
      position: relative;
      top: 4px;
    }
  }

  h1 {
    float: left;
    width: 100%;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    margin: 11px 0 7px 0;

    .fl {
      color: #FFFFFF !important;
    }
  }

  p {
    float: left;
    width: 100%;
    font-size: 11px;
    color: #FFFFFF;
  }

  .logout {
    float: right;
    color: #FFFFFF;
    font-size: 20px;
    padding: 20px;
    position: relative;

    i {
      color: #FFF;
    }
  }
}

.date {
  display: none;
}

input {
  border-radius: 0.25rem !important;
}

.form-label {
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.input-group {
  margin-bottom: 10px;
}

.form-control {
  border: solid 1px #c5c5c5 !important;
  font-size: 12px !important;
  
  &:focus {
    box-shadow: none !important;
    border-color: #5d4c72;
  }
}

*, button {
  touch-action: manipulation;
}

.counter {
  border-radius: 0 !important;
}

.dashboard {

  .subt {
    float: left;
    width: 100%;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 15px 0 10px 0;
  }
    
  ul {
    
    li {
      text-align: center;

      a {
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 5px;
        padding: 30px 0;
        float: left;
        width: 100%;
        margin-bottom: 15px;

        i {
          margin-bottom: 15px;
          font-size: 30px;
          color: #FFF;
        }
      }

      span {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
      }

      .liner1 {
        background: linear-gradient(to left, #1c510d, #246a1f, #288432, #299f47, #23bb5e);

        &:hover {
          background: linear-gradient(to right, #1c510d, #246a1f, #288432, #299f47, #23bb5e);
        }
      }

      .liner2 {
        background: linear-gradient(to left, #154366, #0f4f82, #155b9e, #2866ba, #4370d6);

        &:hover {
          background: linear-gradient(to right, #154366, #0f4f82, #155b9e, #2866ba, #4370d6);
        }
      }

      .liner3 {
        background: linear-gradient(to left, #661515, #832222, #a2302f, #c23e3d, #e34c4c);

        &:hover {
          background: linear-gradient(to right, #661515, #832222, #a2302f, #c23e3d, #e34c4c);
        }
      }

      .liner4 {
        background: linear-gradient(to left, #664d15, #80671b, #9a8322, #b1a12a, #c7c133);

        &:hover {
          background: linear-gradient(to right, #664d15, #80671b, #9a8322, #b1a12a, #c7c133);
        }
      }

      .liner5 {
        background-image: linear-gradient(to left, #051937, #1b2b59, #393d7d, #5c4ea0, #845ec2);

        &:hover {
          background-image: linear-gradient(to right, #051937, #1b2b59, #393d7d, #5c4ea0, #845ec2);
        }
      }

      .liner6 {
        background-image: linear-gradient(to left, #201230, #2e2040, #3d2e50, #4d3d61, #5d4c72);

        &:hover {
          background-image: linear-gradient(to right, #201230, #2e2040, #3d2e50, #4d3d61, #5d4c72);
        }
      }

      .liner7 {
        background-image: linear-gradient(to left top, #051937, #4a315b, #8f4871, #d06876, #ff9671);

        &:hover {
          background-image: linear-gradient(to right top, #051937, #4a315b, #8f4871, #d06876, #ff9671);
        }
      }
    }
  }
}

.offcanvas {
  width: 300px !important;
  background: url(../images/sizer.png) top center repeat #FFFFFF;
  background-size: 150px;
  border: none !important;

  .offcanvas-header {
    padding: 3px 0 !important;
    background: #FFFFFF;
  }

  .close {
    border: none !important;
    float: right;
    margin: 17px 0 0 0;
    color: red !important;
    background: none !important;

    i {
      color: red !important;
      font-size: 31px;
    }
  }

  .offcanvas-body {
    padding: 0 !important;
  }

  h4 {
    float: left;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    background-image: linear-gradient(to right, #000000, #181818, #292929, #3b3b3b, #4e4e4e);
    color: #FFFFFF;
  }

  ul {
    float: left;
    width: 100%;
    position: relative;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: left;

    li {
      float: left;
      width: 100%;
      position: relative;
      text-align: left;

      a {
        float: left;
        width: 100%;
        position: relative;
        font-size: 12px;
        font-weight: 400;
        color: #333333;
        text-align: left;
        margin: 0;
        padding: 10px;
        transition: all 0.5s ease;
        border-radius: 0;
        text-decoration: none;

        &:hover {
          background: #911405;
          color: #FFFFFF;
          transition: all 0.2s ease;
        }
      }
    }
  }
}

.main-title {
  float: left;
  width: calc(100% + 24px);
  position: fixed;
  font-size: 16px;
  font-weight: 500;
  margin: -10px 0 15px 0;
  background: #ffffff;
  color: #000;
  padding: 10px;
  text-align: center;
  top: 70px;
  left: 0;
  z-index: 100;

  .back {
    float: left;
    width: auto;
    text-decoration: none;
    color: #000000;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 15px;

    i {
      color: #000000;
    }
  }
}

.input-group-text {
  background: #343434 !important;
  border: solid 1px #343434 !important;

  i {
    color: #FFFFFF;
  }
}

.action {

  button {
    background: #50386a !important;
    border: solid 1px #50386a !important;
    color: #FFFFFF;

    i {
      color: #FFFFFF;
    }
  }

  .addn {
    background: url(../images/add.png) center center green no-repeat !important;
    background-size: 14px !important;
    border-color: green !important;
    width: 30px;
    border-radius: 0 5px 5px 0 !important;
    color: #FFFFFF !important;
  }

  .rem {
    background: url(../images/minus.png) center center red no-repeat !important;
    background-size: 14px !important;
    border-color: red !important;
    width: 30px;
    border-radius: 5px 0 0 5px !important;
    color: #FFFFFF !important;
  }
}

.add {
  float: left;
  width: 100%;
  border: solid 1px #1bb74b !important;
  background: #1bb74b !important;
  color: #FFFFFF !important;
  font-weight: 500;

  i {
    color: #FFFFFF;
    margin-right: 5px;
  }
}

.rst {
  float: left;
  width: 100%;
  border: solid 1px red !important;
  background: red !important;
  color: #FFFFFF !important;
  font-weight: 500;

  i {
    color: #FFFFFF;
    margin-right: 5px;
  }
}

.editinn {
  float: right;
  width: auto;
  border: solid 1px #d39815 !important;
  background: #d39815 !important;
  color: #FFFFFF !important;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 15px;

  &.hide {
    display: none;
  }

  &:focus {
    border: solid 1px #d39815 !important;
    background: #d39815 !important;
  }

  i {
    color: #FFFFFF !important;
    margin-right: 5px;
  }
}

.saveinn {
  float: right;
  width: auto;
  border: solid 1px #1bb74b !important;
  background: #1bb74b !important;
  color: #FFFFFF !important;
  font-weight: 500;
  font-size: 12px;
  margin: 0 0 15px 15px !important;

  &.hide {
    display: none;
  }

  &:focus {
    border: solid 1px #1bb74b !important;
    background: #1bb74b !important;
  }

  i {
    color: #FFFFFF !important;
    margin-right: 5px;
  }
}

.update {
  margin-bottom: 15px;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.looper {
  float: left;
  width: 100%;
  position: relative;
  margin: 15px 0 0 0;
  border-radius: 5px;

  .floor {
    
    i {
      color: #333333;
    }

    span {
      margin: 0 0 0 10px;
      font-weight: 500;
    }
  }
}

#itemlist {
  margin-bottom: 15px;

  .accordion-item {
    border-bottom: solid 1px #e7e7e7;
    float: left;
    width: 100%;
    margin: 0 0 2px 0;
  }

  .accordion-button {
    padding: 5px 10px !important;
    border: none !important;
    font-size: 14px; 

    &:after {
      color: #FFFFFF;
      background: url(../images/plus.png) left center no-repeat !important;
      background-size: 13px !important;
    }
  }

  .accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #176aab;
    border: none !important; 
    box-shadow: none !important; 

    &:after {
      color: #FFFFFF;
      background: url(../images/minus.png) left center no-repeat !important;
      background-size: 13px !important;
      left: -7px;
      position: relative;
    }

    i {
      color: #FFFFFF;
    }
  }

  .input-group {

    input {
      border-radius: 0 !important;
    }

    button {
      background: #FFFFFF !important;
      border: solid 1px #c5c5c5 !important;
    }

    .addn {
      background: url(../images/add.png) center center green no-repeat !important;
      background-size: 14px !important;
      border-color: green !important;
      color: #FFFFFF !important;
      width: 30px;
      border-radius: 0 5px 5px 0 !important;
      text-align: center;

      i {
        color: #FFFFFF !important;
      }
    }

    .rem {
      background: url(../images/minus.png) center center red no-repeat !important;
      background-size: 14px !important;
      border-color: red !important;
      color: #FFFFFF !important;
      width: 30px;
      border-radius: 5px 0 0 5px !important;
      text-align: center;

      i {
        color: #FFFFFF !important;
      }
    }
  }
}

.quantity-field {
  border-radius: 0 !important;
  font-weight: 500 !important; 
}

.final {
  float: left;
  width: 100%;
  position: relative;
  padding: 10px;
  background: #FFFFFF;
  border: dashed 2px #132a54;
  border-radius: 5px;
  margin: 0 0 15px 0;

  h6 {
    float: left;
    width: calc(100% + 24px);
    font-size: 14px;
    font-weight: 500;
    margin: -12px 0 8px -12px;
    background: #132a54;
    color: #FFF;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }

  label {
    color: #000000 !important;
  }

  input {
    margin-bottom: 10px;
    background: #FFFFFF !important;
    font-weight: 500;
  }

  table {
    font-size: 12px;

    th {
      font-size: 12px;
      font-weight: 500;
      background: #3a427a !important;
      color: #FFFFFF !important;
    }

    td {
      font-weight: 500;
    }
  }
}

.skiptranslate {
  display: none;

}

.home-lang {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  margin: 10px 0 0 0;

  img {
    height: 29px;
    margin: 0 10px;
  }
}

.home-lang-inner {
  position: absolute;
  float: left;
  width: auto;
  text-align: center;
  margin: 0;
  top: 62px;
  right: 0;

  img {
    height: 29px;
    margin: 0 10px 0 0;
  }
}

#signbutton {
  border-radius: 5px !important;
}

.descrip {
  height: 200px;
  margin: 0 0 15px 0;
}

.addrep {
  margin-top: 15px;
}

.fault {

  table {

    th {
      font-size: 12px;
      font-weight: 500;
      background: #3a427a !important;
      color: #FFFFFF !important;
    }

    td {
      font-weight: 500;
      font-size: 12px;

      button {
        float: right;
        border: none !important;
        background: none;

        i {
          color: red !important;
        }
      }

      button:disabled, button[disabled]{
        
        i {
          color: #333333 !important;
          opacity: 0.5;
        }
      }
    }
  }
}

.file-upload {
  background: #effff6;
  width: 100%;
  margin: 0 auto;
  height: 200px;
  border: dashed 2px #18b318;
  border-radius: 5px;

  .file-upload-content {
    display: none;
    text-align: center;
    height: 200px;
  }

  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }

  .image-upload-wrap {
    float: left;
    width: 100%;
    position: relative;
  }

  .image-title-wrap {
    padding: 81px 0;
    color: #222;
  }

  .drag-text {
    text-align: center;
    height: 200px;
    float: left;
    width: 100%;
  }

  .drag-text h3 {
    text-transform: uppercase;
    color: #29af65 !important;
    height: 200px;
    vertical-align: middle;
    float: left;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 190px;
  }

  .file-upload-image {
    max-height: 200px;
    max-width: 100%;
    margin: auto;
    padding: 8px 10px;
  }

  .remove-image {
    width: auto;
    margin: 0;
    color: #fff;
    background: #cd4535;
    padding: 10px;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;
    font-weight: 500;
    font-size: 12px;
  }
}

.badge {
  margin-left: 0 !important;
}

table {
  font-size: 12px;

  th {
    font-size: 12px;
    font-weight: 500;
    background: #3a427a !important;
    color: #FFFFFF !important;
  }

  td {
    color: #6c757d !important;

    &:first-child {
      font-weight: 500;
    }
  }
}

.modal-header {

  .btn-close {
    border: none !important;
    color: red !important;
  }
}

.modal-body {
  text-align: center;

  .modal-body img {
    display: inline-block;
  }
}

.admin-fault {
  table-layout: fixed;

  td {
    line-height: 14px;

    &:first-child {
      font-weight: 500;
    }

    button {
      font-size: 11px !important;
      text-transform: uppercase;
      line-height: 13px;
      border: none !important;
      margin-left: 10px;
      margin-top: 3px;
      margin-bottom: 3px;
      font-weight: 600;
      min-width: 110px;
      float: left;
    }

    .dropdown-menu {
      border: none;
      padding: 2px 5px;
      box-shadow: 0px 3px 5px -1px #333;

      li {

        &:first-child {
          border-radius: 5px 5px 0 0 !important;

          a {
            border-radius: 5px 5px 0 0 !important;
          }
        }

        &:last-child {
          border-radius: 0 0 5px 5px !important;

          a {
            border-radius: 0 0 5px 5px !important;
          }
        }

        a {
            color: #FFFFFF;
            font-size: 12px !important;
            font-weight: 600;
            padding: 8px;
            text-align: center;
            margin: 2px 0;
        }
      }
    }
  }
}

.progress {
  height: 25px;

  .progress-bar {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.adduser {

  .input-group {

    input {
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
  }

  .adduser-wrp {
    float: left;
    width: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 15px;

    table {
      table-layout: fixed;

      th {
        width: 200px !important;

        &:last-child {
          position: sticky;
          right: 0;
          width: 130px !important;
        }
      }

      td {
        
        &:last-child {
          position: sticky;
          right: 0;
          -moz-box-shadow: inset 29px 18px 10px -33px #222;
          -webkit-box-shadow: inset 29px 18px 10px -33px #222;
          box-shadow: inset 29px 18px 10px -33px #222;
        }
      }

      tr {

        td:last-child {
          background: #F2F2F2 !important;
        }
      }

      tr:nth-child(2n) {

        td:last-child {
          background: #FFFFFF !important;
        }
      }
    }

    button {
      background: none;
      border: none !important;
      float: right;

      i {
        font-size: 14px;
      }

      &.edt {
        i {
          color: #3761a1;
        }
      }

      &.del {
        i {
          color: red;
        }
      }

      &.sve {
        i {
          color: #2cb52c;
        }
      }
    }

    .spinner-grow {
      float: right;
      margin-right: 5px;
    }
  }
}

.err-msg {
  float: left;
  width: 100%;
  position: relative;
  font-size: 12px;
  text-align: center;
  color: red;
  font-weight: 500;
}

.succe-msg {
  float: left;
  width: 100%;
  position: relative;
  font-size: 12px;
  text-align: center;
  color: #0ea10e;
  font-weight: 500;
}

.forgotup {
  float: right;
  width: auto;
  border: none !important;
  background: none;
  padding: 0;
  font-size: 12px;
  color: #3b7aaf;
  font-weight: 500;
  margin: 10px 0 5px 0 !important;

  &:focus {
    border: none !important;
  }
}

.er-wrp {
    float: left;
    width: 100%;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 14px 0 10px 0;
    
    &.warning {
      border: dashed 1px red;
      background: #f9ecec;
      box-shadow: 0px 0px 6px -1px red;
      -webkit-animation: warn 2s infinite;
      -moz-animation: warn 2s infinite;
      -o-animation: warn 2s infinite;
      animation: warn 2s infinite;
    }

    &.sucsess {
      border: dashed 1px green;
      background: #d1ffd1;
      box-shadow: 0px 0px 6px -1px green;
      -webkit-animation: succ 2s infinite;
      -moz-animation: succ 2s infinite;
      -o-animation: succ 2s infinite;
      animation: succ 2s infinite;
    }
}

/* Blue Shadow */
@-moz-keyframes warn {
  0%, 100% {
    box-shadow: 1px 0px 19px 4px rgba(255, 0, 0, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); 
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); 
  } 
}

@-webkit-keyframes warn {
  0%, 100% {
    box-shadow: 1px 0px 19px 4px rgba(255, 0, 0, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); 
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); 
  } 
}

@-o-keyframes warn {
  0%, 100% {
    box-shadow: 1px 0px 19px 4px rgba(255, 0, 0, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); 
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); 
  } 
}

@keyframes warn {
  0%, 100% {
    box-shadow: 1px 0px 19px 4px rgba(255, 0, 0, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); 
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); 
  } 
}

@-moz-keyframes succ {
  0%, 100% {
    box-shadow: 1px 0px 19px 4px rgba(34,139,34, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); 
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(34,139,34, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); 
  } 
}

@-webkit-keyframes succ {
  0%, 100% {
    box-shadow: 1px 0px 19px 4px rgba(34,139,34, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); 
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(34,139,34, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); 
  } 
}

@-o-keyframes succ {
  0%, 100% {
    box-shadow: 1px 0px 19px 4px rgba(34,139,34, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); 
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(34,139,34, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); 
  } 
}

@keyframes succ {
  0%, 100% {
    box-shadow: 1px 0px 19px 4px rgba(34,139,34, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5); 
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(34,139,34, 0), inset 0px 0px 0px rgba(255, 255, 255, 0); 
  } 
}

.alert {
  padding: 15px !important;
  font-size: 12px;

  strong {
    font-weight: 500;
  }

  button {
    border: none !important;
    padding: 15px !important;
  }
}

.p-0 {
  padding: 0 !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
  background: none;
  color: #666666;
  z-index: 20;
}

/* Config */
$color-bg: #111;
$color-particle: #ffdfdc;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 600s;

/* Pauls awesome mixin */
@function particles($max) {
   $val: 0px 0px $color-particle;
   @for $i from 1 through $max {
      $val: #{$val},
      random($spacing)+px random($spacing)+px $color-particle;
   }
   @return $val;
}

@mixin particles($max) {
   box-shadow: particles($max);
}

.page-bg,
.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.login-cont {
  z-index: 1000;
  position: relative;
}

.particle,
.particle:after {
  background: transparent;
  border-radius: 2px;
}

.particle:after {
  position: absolute;
  content: "";
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(600);
  height: 10px;
  width: 10px;
}

.particle-1:after {
  @include particles(600);
  height: 1px;
  width: 1px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(200);
  height: 5px;
  width: 5px;
}

.particle-2:after {
  @include particles(200);
  height: 2px;
  width: 2px;
}

@keyframes animParticle {
  from { transform: translateY(0px); }
  to   { transform: translateY($spacing * -1); }
}

@media (max-width: 767px) {
  #login {
    // background: url(../images/appbg.jpg) center center no-repeat;
    // background-size: cover;
    background: none;

    .login-wrapper {
      max-width: 100%;
      box-shadow: none;
      top: 0 !important;
      max-width: 100%;
      box-shadow: none;
      top: -10px !important;
      position: absolute !important;
      transform: unset;
      left: 0;
      background: #ffffffe3;
      
      h1 {
        float: left;
        width: 100%;
        position: relative;
        font-weight: 500;
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        padding: 20px 0 30px 0;
        color: #D41701;
      }

      label {
        color: #FFF !important;
        font-weight: 400;
        display: none;
      }

      .logo {
        padding-top: 20px;
        height: 150px;
      }
    }
  }

  header {
    height: auto;
    background: #680d02;
    background: linear-gradient(90deg, #bd1c09 0%, #781105 100%);

    .logout {
      float: right;
      color: #FFFFFF;
      font-size: 20px;
      padding: 20px 0 10px 0;
      position: relative;
    }
  }

  .date {
    display: inline-block;
    color: #5d4c72;
  }

  .forgotup {
    color: #444444;
  }

  .adduser {

    .adduser-wrp {
      
      table {

        th {

          &:first-child {
            width: 80px !important;
          }

          &:nth-child(2) {
            width: 120px !important;
          }

          &:last-child {
            width: 95px !important;
          }
        }
        
        td {
          
          &:last-child {
            
            button {
              padding: 0 !important;
              margin: 0 0 0 10px !important;

              i {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}